<footer class="footer px-6">
  <div class="content has-text-centered pb-5">
    <!-- <span>&copy; Copyright 2021 Jonas van den Berg</span> -->
    <span style="white-space: normal; display: inline-block">
      <a target="_blank" rel="noopener noreferrer"
        href="https://informatiktutor.de">informatiktutor.de</a>
      <a target="_blank" rel="noopener noreferrer"
        href="https://informatiktutor.de/impressum.html">Impressum</a>
      <a target="_blank" rel="noopener noreferrer"
        href="https://github.com/informatiktutor/pay">Quellcode</a>
    </span>
  </div>
</footer>
