<div class="payment-button">
  <button id="button-bank-transfer" class="button button-option is-light has-text-grey-darker is-fullwidth is-medium">
    <div class="field">
      <div class="button-title">
        <span class="has-text-weight-bold">
          Banküberweisung
        </span>
      </div>
      <div class="button-subtitle">
        <span class="has-text-grey">
          Manuelle Durchführung
        </span>
      </div>
    </div>
  </button>
</div>
