<div class="payment-button overlay-container">
  <div class="paypal-button-container"
    id="payment-button-container-paypal-account"></div>
  <div class="overlay fill-parent">
    <div class="overlay-background fill-parent"></div>
    <div class="overlay-button fill-parent">
      <button class="button is-link is-paypal is-fullwidth">
        <%- include('../icons/paypal.ejs', {
          type: 'white',
          classes: 'paypal-icon'
        }) %>
      </button>
    </div>
  </div>
</div>
